<!-- <table class="table table-striped">
    <tbody>
      <tr>
        <td scope="col">1</td>
        <th class="text-primary" scope="col">First</th>
      </tr>
      <tr>
        <td scope="row">2</td>
        <th class="text-primary">Mark</th>
      </tr>
      <tr>
        <td scope="row">3</td>
        <th class="text-primary">Jacob</th>
      </tr>
      <tr>
        <td scope="row">4</td>
        <th class="text-primary">Larry</th>
      </tr>
    </tbody>
  </table> -->
<table class="table table-striped">
  <tbody>
    <% pages.forEach( function(model) { %>
    <tr onclick="goupdate(<%= model.id %>)">
      <th scope="row">
        <%= model.id %>
      </th>
      <td style="color: #0069d9">
        <%= model.name %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<script>
  function goupdate(item) {
    window.location.href = '/update/' + item;
  };
</script>