
  <div class="card-group">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">Singing Contest</h5>


        <div class="row ">
          <div class="col-4">
            <img style="overflow: hidden" class="card-img-top" src="https://www.thehindu.com/news/international/article19669980.ece/alternates/FREE_300/monkey-selfie-web-cropjpg"
              alt="Card image cap">
            <!-- <img width="180px" height="260px" class="mr-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR37vpcYq1SGUS3Qc0ECbezLBIUu6PBZLYUtBhD2EEJhpNnKLxBhQ"
                              alt="Generic placeholder image"> -->
          </div>
          <div class="col-8">
            <div class="card " style="width: 42rem;">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">一年一度既HKBU Singing
                  Contest又到啦！身为浸大人怎么能够错过！？欢迎大家踊跃报名！可登录学校官网进行网络报名或去善衡校区广场进行现场报名，我们期待你的加入！</li>
                <li class="list-group-item"><strong>Organizer:</strong>Department of Music</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>


  <!-- <div>
              <div class="card-group">
                <div class="card">
                  <div class="card-body">
                    <a href="#" class="card-link">Singing Contest</a>
                    <p> </p>
                    <div class="media">
                      
                      <img width="180px" height="260px" class="mr-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR37vpcYq1SGUS3Qc0ECbezLBIUu6PBZLYUtBhD2EEJhpNnKLxBhQ"
                        alt="Generic placeholder image">
                      <div class="media-body">
                        <div class="card" style="width: 18rem;">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">一年一度既HKBU Singing
                              Contest又到啦！身为浸大人怎么能够错过！？欢迎大家踊跃报名！可登录学校官网进行网络报名或去善衡校区广场进行现场报名，我们期待你的加入！</li>
                            <li class="list-group-item"><strong>Organizer:</strong>Department of Music</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->


